*{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-container{
    position: none;
    width: 100%;
    height: 100px;
    transition: all 0.8s;
    background-color: black;
}
.header-fixed{
    transition: all  0.8s;
}
.header-fixed .nav-container{
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    background-color: white; 
    transition: all ease-in-out 0.8s;
}
#navbarNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbarNav ul li{
    margin-left: 20px;
    margin-right: 20px;
}
#navbarNav ul li a{
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px;
    transition:  0.2s;
}
#navbarNav ul li a:hover{
    color: red;
    font-weight: bold;
}
.after-nav-sec{
    background-image: url('../img/wallpaperflare.com_wallpaper (1).jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: 0px -100px;
    z-index: 0;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    transition:all 0.6s;
}
.welcome-section{
    height: 600px;
    z-index: 0;
}
.welcome-section .right{
    margin-top: 50px;
}
.welcome-section .right .image-food{
    background-image: url('../img/hambb.jpg');
    height: 475px;
    width: 575px;
    background-position: -33px -26px;
    background-size: cover;
}
.welcome-section .con-text{
    margin-top: 50px;
    width: 575px;
    height: 475px;
}
.welcome-section .con-text h2{
    padding-top: 150px;
    text-align: center;
}
.welcome-section .con-text p{
    margin-top: 50px;
    text-align: center;
}
.food-menu{
    height: 1000px;
}
.food-menu h1{
    text-align: center;
}